<h1> Welcome to my Rock, Paper, Scissors game!</h1>
<body>
   <p>The rules are as follows <p>
   <p>
     To play the game please type in to the URL path stating game/(player1s choice)/(player2s choice)
     <br>I.e. game/rock/scissors and the winner will be confirmed. </p>
   <p>
     To come back to this page at any time. Click the image above.
   </p>
</body>
